.card-container {
    display: flex;
}

div{
    margin: 10px;
}

.content-box {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1vh;
    padding: 2vh;
}


.label-box h1, h2, h3, h4, h5 {
    text-align: center;
}